<!DOCTYPE html >
<html>

<head>
    <%- include common/head.ejs %>
</head>
<body>

     <div class="loader-wrap" ng-class="{'loader-hide': true}">
        <div class="page-loader"></div>
    </div> 
    <div class="wrapall">
        <section>
            <%- include common/header.ejs %>
        </section>
        <section class="main-content header-flush">
            <div class="page-layout">
                <div class="about-container">
                    <div layout="column"  layout-wrap layout-align="start center">
                        <div>
                            <h2 style="color:rgb(16,108,200);">About</h2>
                        </div>
                        <md-content class="layout-padding flex">
                            <p>Let's Build is a platform that drives innovation from the bottom up. It allows employees to propose ideas that can be vetted by their peers. Employees can also express their interest in contributing to a proposal. Let's Build aims to foster an environment of collaboration that leads to idea generation and execution.</p>
                            <p>Who knows, whats in your head might just be the next big thing!</p>
                        </md-content>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <%- include common/footer.ejs %>
        </section>
    </div>
    <style>
        .about-container {
            margin : 2% 8%;
            background-color: #f7f7f9;
        }
        .about-container md-content {
            padding: 0px 15px 15px;
            background-color: #f7f7f9;
        }
        /*@media (max-width:800px) {
            .about-container {
                margin : 10px;
            }
        }*/
    </style>
    <%- include common/footer.script.includes.ejs %>
    <%- include common/footer.script.markdown.includes.ejs %>
    <script type="text/javascript">
        setTimeout(function(argument) {
            angular.bootstrap(document, ['commonModule']);
        }, 0)
    </script>
</body>

</html>
