<!doctype html>
<html>

<head>
    <%- include common/head.ejs %>
</head>

<body>
    <div class="wrapall">
        <div class="loader-wrap" ng-class="{'loader-hide': true}">
            <div class="page-loader"></div>
        </div>
        <section>
            <%- include common/header.ejs %>
        </section>
        <section class="main-content header-flush">
            <div ng-controller="appDetailController">
                <div class="page-layout detail-page" ng-if="item">
                    <div layout="row" layout-sm="column">
                        <div flex="70" flex-sm="100" class="app-details-wrap"  data-step="4" data-intro="Application description.">
                            <div class="app-details" >
                                <div layout="row" layout-sm="column">
                                    <div class="image-section text-center" flex="20" flex-sm="100">
                                        <img ng-src="{{item.imgurl || '<%= basePath %>images/default.png'}}">
                                    </div>
                                    <div class="app-intro" flex="50" flex-sm="100">
                                        <div class="md-title">
                                            {{item.appName}}
                                        </div>
                                        <div btf-markdown="item.shortDesc">
                                        </div>
                                        <div layout="row" ng-if="item.status">
                                            <span><span class="thiker">Stage </span>: {{item.status}}</span> 
                                        </div>
                                        <div layout="row"  ng-if="item.category">
                                            <span><span class="thiker">Category </span> : {{item.category}}</span> 
                                        </div>
                                    </div>
                                    <div class="app-summary" flex="30" flex-sm="100">

                                        <div layout="row" class="text-right" ng-if="item.createdAt">
                                            <span class="thiker" flex="45">Posted date : </span>
                                            <span flex="55" class="app-summary-value"> {{item.createdAt | date:'dd-MMM-yyyy'}}</span>
                                        </div>
                                        <div layout="row" class="text-right" ng-if="item.lastUpdated">
                                            <span class="thiker" flex="45">Last Updated : </span><span flex="55" class="app-summary-value"> {{(item.lastUpdated || item.createdAt) | date:'dd-MMM-yyyy'}}</span>
                                        </div>                                        
                                        <div layout="row" class="text-right" ng-if="item.effort">
                                            <span class="thiker" flex="45">Effort : </span> <span flex="55" class="app-summary-value"> {{item.effort}}h</span>
                                        </div>
                                        <div layout="row" class="text-center">
                                            <span flex>
                                                <a href="#" ng-click="updateLikes($event)">
                                                    <div ng-class="likeClass" class="like-button">
                                                        <span flex="80" class="" >Upvote</span>
                                                        <span class="upvote-line"> | </span>
                                                        <span class="upvote-count">{{item.likes.length}}</span>
                                                    </div>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div flex="30" flex-sm="100" class="proposer-details-wrap"   data-step="5" data-intro="Questions? Mail us....">
                            <div class="proposer-details">
                                <div>
                                    <div class="md-title">Proposed by</div>
                                    <div class="proposed-team-wrap grid-row">


                                        <div ng-repeat="mem in item.proposedTeam | getImages" class="grid grid-xs-6 grid-sm-12 mem-container">
                                            <div ng-if="mem.src" class="backname-prof-pic" ng-style="{'background-image': 'url( {{mem.src }})'}">

                                            </div>
                                            <div ng-if="!mem.src" class="background-name">
                                                {{mem.firstName[0]}}{{mem.lastName[0]}}
                                            </div>
                                            <a ng-href="mailto:{{mem.mail}}">
                                                &nbsp;{{mem.firstName}}
                                            </a>
                                        </div>
                                        <md-button ng-if="item.owner.mail != currentUser.mail" class="md-raised md-primary primary-button" ng-click="expressInterestDetails($event)">
                                            Express Interest
                                        </md-button>
                                        <md-button ng-if="item.owner.mail == currentUser.mail" class="md-raised md-primary primary-button" ng-href="../../propose-form#edit/{{item._id}}">
                                            Edit
                                        </md-button>
                                    </div>
                                    <div id="yj-share-button" class="yj-share-button"></div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="page-layout positionR">
                    <div class="section-content">
                        <div class="content-separators info-section"  id="team" ng-if="isContributorsAvailable(item.interests)">
                            <div class="icon-holder">
                                <div class="icon-parent">
                                    <span class="fa fa-users"></span>
                                </div>    
                            </div>
                            <div  data-step="6" data-intro="Team Members">
                                <h1 class="content-heading">Team</h1>
                                <div class="content-data">
                                    <div class="grid-row">
                                        <ul class="grid grid-sm-12 grid-md-6" ng-repeat="mem in item.interests | getImages" ng-if="mem.isContributor" style="list-style:none;">
                                            <li>
                                                <div>
                                                    <div ng-if="mem.src" class="backname-prof-pic" ng-style="{'background-image': 'url( {{mem.src }} )'}">

                                                    </div>
                                                    <div ng-if="!mem.src" class="background-name">
                                                        {{mem.firstName[0]}}{{mem.lastName[0]}}
                                                    </div>
                                                    <div class="name-container">
                                                        <p class="ng-binding">{{mem.firstName}}</p>
                                                        <p class="ng-binding">{{mem.mail}}</p>
                                                    </div>
                                                 </div>                                            
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-separators info-section" id="introduction" ng-if="item.longDesc"  >
                            <div class="icon-holder">
                                <div class="icon-parent">
                                    <span class="fa fa-info"></span>
                                </div>    
                            </div>
                            <div   data-step="7" data-intro="Introduction to App">
                                <h1 class="content-heading">Introduction</h1>
                                <div class="content-data">
                                    <div btf-markdown="item.longDesc"></div>
                                </div>
                            </div>
                        </div>

                        <div class="content-separators info-section" id="video" ng-if="item.vedioLink">
                            <div class="icon-holder">
                                <div class="icon-parent">
                                    <span class="fa fa-television"></span>
                                </div>    
                            </div>
                            <div   data-step="8" data-intro="Click to watch video.">
                                <h1 class="content-heading">Video</h1>
                                <div class="content-data" >
                                    <iframe width="100%" height="500" ng-src="{{item.vedioLink | trustAsResourceUrl}}">
                                                        </iframe>
                                </div>
                            </div>
                        </div>

                        <div class="content-separators info-section" id="analysis" ng-if="item.solution">
                            <div class="icon-holder">
                                <div class="icon-parent">
                                    <span class="fa fa-sitemap"></span>
                                </div>    
                            </div>
                            <div   data-step="9" data-intro="Application analysis.">
                                <h1 class="content-heading">Analysis</h1>
                                <div class="content-data">
                                    <div btf-markdown="item.solution"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-navigator">
                        <ul class="page-navigator-link">
                            <li id="team-li" ng-if="item.interests &&item.interests.length>0"><a href="#team">Team</a></li>
                            <li id="introduction-li" ng-if="item.longDesc"><a href="#introduction">Introduction</a></li>
                            <li id="video-li" ng-if="item.vedioLink"><a href="#video">Video</a></li>
                            <li id="analysis-li" ng-if="item.solution"><a href="#analysis">Analysis</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </section>
        
        <section>
            <%- include common/footer.ejs %>
        </section>
    </div>
    <script type="text/javascript" src="https://c64.assets-yammer.com/assets/platform_social_buttons.min.js"></script>
    <%- include common/footer.script.includes.ejs %>
    <%- include common/footer.script.markdown.includes.ejs %>
    <script src="<%= basePath %>javascripts/controllers/app-details-controller.js"></script>
    <script src="<%= basePath %>javascripts/controllers/express-interest-controller.js"></script>
    <script src="<%= basePath %>javascripts/modules/app-details.js"></script>
    <style type="text/css">
        .tab-content {
            padding: 20px 0
        }
        
        .update-form {
            margin-bottom: 20px;
        }
        
        .field-wrapper {
            padding: 2px 2px 26px;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        
        .like-icon {
            color: rgb(63, 81, 181);
        }
        
        .proposer-details {
            margin-left: 10px;
            text-align: center;
        }
        
        .detail-page {
            margin-top: 20px;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 50px;
        }
        
        @media (max-width: 600px) {
            .proposer-details {
                margin-left: 0;
                margin-top: 10px;
            }
        }
        
        .app-details {
            padding: 15px 15px 0 15px;
        }
        
        .proposer-details {
            padding: 15px;
            padding-left: 50px;
            text-align: left;

        }
        
        .app-intro {
            padding-left: 15px;
            padding-right: 15px;
        }
        .app-summary {
            font-size: 14px;
        }
        .app-summary-value {
            text-align: left;
            padding-left: 5px;
        }
        .color-for-down-vote {
            color : #B5B0B0;
        }
        .proposed-team-wrap {
            margin-top: 10px;
        }
        .proposed-team-wrap a {
            text-decoration :none;
        }
        .proposer-details-wrap {
            margin-left: -1px;
            border-left: 1px solid #ccc;
        }
        .app-details-wrap {

            border-right: 1px solid #ccc;

        }
        .content-separators {
            
            padding: 50px 0;
        }
        .detail-page .md-title {
            font-weight: bold;
        }
        .icon-holder {
            position: relative;
            border-top: 1px solid #ccc;
            top: -50px;
        }
        .icon-parent {
            height: 80px;
            width: 80px;
            background: #fff;
            display: inline-block;
            position: absolute;
            left: calc( 50% - 40px);
            top: -40px;
            font-size: 29px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 50%;
            text-align: center; 
        }
       
       .content-heading {
            text-align: center;
            font-weight: 500;
       }
       .content-data {

       }
       .main-content {
            text-align: justify;
       }

        .thiker {
            font-weight: 600;
        }
        .like-button {
            margin-left: -5%;
        }
        .positionR {
            position: relative;
        }
        .section-content {
            width: 85%;
        }
        .section-navigator {
            position: absolute;
            top: 0;
            right: 0;
            width: 10%;
        }
        .page-navigator-link {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .page-navigator-link li {
            border-left: 2px solid #fff;
        }
        .page-navigator-link  a{
            text-decoration: none;
            padding: 2px 0 2px 5px;
            display: block;
        }
        .page-navigator-link li.active-link {
            border-left: 2px solid #888;
        }
        @media (max-width:600px) {
            .section-content {
                width: 100%;
            }
            .section-navigator {
                display: none;
            }
            .proposer-details-wrap {
                border-left: 0;
            }
            .app-details-wrap {
                border-right: 0px;
            }
            .proposer-details {
                padding-left: 15px;
            }
            .mem-container {
                vertical-align: top;
            }
        }


    </style>

     <script type="text/javascript">
        if(!localStorage.getItem( 'appdetails-visited')){
            localStorage.setItem( 'appdetails-visited', true);
            setTimeout(function(){
                introJs().start();
            }, 1000);
        }
    </script>
    <!--script type="text/javascript" src="/javascripts/vendors/jquery.smoothscroll.js"></script-->
    <script type="text/javascript" src="<%= basePath %>javascripts/vendors/jquery.easing.min.js"></script>
    <script type="text/javascript">
        $( window ).scroll( function  (argument) {
            var win = $( this );
            var top = $( '.section-content' ).offset().top - win.scrollTop() ;
            if( top < 20  ) {
                $( '.section-navigator' ).css( 'top', -top + 20 );
            } else {
                $( '.section-navigator' ).css( 'top', '' );
            }
            
            $( '.info-section' ).each( function( index, ele ) {
                var dim = ele.getBoundingClientRect();

                if( dim.top - 75 < 0  && dim.bottom > 0 )  {
                    $( '.page-navigator-link li' ).removeClass( 'active-link' );
                    $( '#' + ele.id + '-li' ).addClass( 'active-link' );
                }
                /*if( top > 50 ) {
                    
                } */
            } );

            //if( $( '.info-section' ).offset().top )

        } );
        setTimeout( function() {
            $( '.page-navigator-link a' ).click( function( e ) {
                e.preventDefault();
                var id = $(this).attr( 'href' );

                $("html, body").animate(
                    {
                        scrollTop: $( id ).offset().top - 50 + 'px'
                    } ,
                    1500 ,
                    'easeInOutQuint',
                    function() {
                        location.hash = id;
                    }
                )
            } );    
        }, 1000 )
        
    </script>
</body>

</html>
