<!doctype html>
<html class="no-js" lang="">

<head>
    <%- include common/corridor.head.ejs %>
    
</head>

<body>

    <div class="site-wrapper wrapall">
        <%- include common/corridor.header.ejs %>
            <div class="container" ng-controller="appsController">
                <div ng-if="apps" class="sixteen columns">
                    <div class="search-container">
                        <div class="">
                            <div class="pull-right dummy-search-wrap">
                                <label for="dummy-search-field"><span class="glyphicon glyphicon-search"></span></label>
                                <input id="dummy-search-field" class="search-field " type="text" name="search" ng-focus="searchpop()" placeholder="<%= dbcontent( data, 'search_app_placeholder' ) %>">
                            </div>
                            <h1><%= dbcontent( data, 'appstore_title' ) %></h1>

                        </div>
                    </div>
                    <div class="featured-apps">
                        <div class="carousel-container">
                            <span class="feature-tag">
                               <%= dbcontent( data, 'featured_banner' ) %>
                            </span>
                            <carousel interval="3000" no-wrap="noWrapSlides">
                                <slide ng-repeat="slide in featuredApps" active="slide.active">
                                    <a ng-href="{{slide.data.href}}">
                                        <img ng-src="{{slide.data.srcLg}}" style="margin:auto;">
                                        <div class="carousel-app-text">
                                            <div class="carousel-title">
                                                <h2 ng-bind="slide.data.name"></h2>
                                            </div>
                                            <div class="carousel-desc">
                                                <div btf-markdown="slide.data.desc"></div>
                                            </div>
                                        </div>

                                    </a>
                                </slide>
                            </carousel>
                        </div>
                    </div>

                    <h3 class="page-title"></h3>
                    <tabset class="tab-animation" ng-cloak>
                        <tab ng-repeat="(key,tab) in apps">
                            <tab-heading>
                                {{key}}
                            </tab-heading>
                            <div class="row app-container">
                                <div class="col-sm-6 col-md-4 col-lg-3 repeated-item" ng-repeat="item in tab | limitTo: limit[key]">
                                    <div class="app-tile">
                                        <div class="image-holder">
                                            <a href="#" ng-href="{{item.href}}" target="_blank">
                                                <img ng-src="{{item.src}}">
                                            </a>
                                            <div class="featured-panel">
                                                <div class="pull-right">
                                                    <a href="#" class="glyphicon glyphicon-heart">
                                                    </a>
                                                    <a href="#" class="glyphicon glyphicon-thumbs-up">
                                                    </a>
                                                </div>
                                                <div class="rating-panel">
                                                    <a href="#" class="glyphicon glyphicon-star">
                                                    </a>
                                                    <a href="#" class="glyphicon glyphicon-star">
                                                    </a>
                                                    <a href="#" class="glyphicon glyphicon-star">
                                                    </a>
                                                    <a href="#" class="glyphicon glyphicon-star">
                                                    </a>
                                                    <a href="#" class="glyphicon glyphicon-star">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="info-holder">
                                            <a herf="#" ng-href="{{item.href}}" target="_blank">
                                                <h3>{{item.name}}</h3>
                                            </a>
                                            <div>
                                                <div btf-markdown="item.infotext"></div>
                                            </div>
                                            <!--div ng-if="item.category === 'proposed'">
                                                <p>
                                                    Status:
                                                    <span class="pull-right">{{item.status}}</span>
                                                </p>
                                                <p>
                                                    Effort:
                                                    <span class="pull-right"> {{item.effort}} </span>
                                                </p>
                                                <div>
                                                    % of completion:
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width':item.percentageOfCompletion + '%' }">
                                                            <span>{{item.percentageOfCompletion}}%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div-->
                                        </div>
                                    </div>
                                </div>
                                <div class="loadmore col-sm-12 text-center" ng-if="tab.length > limit[key]">
                                    <a href="#" class="btn btn-warning" ng-click="$event.preventDefault();limit[key] = limit[key] + 8">Load more</a>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
            <%- include common/corridor.footer.ejs %>
                <%- include common/featured-apps.ejs %>
                    <script type="text/javascript">
                        var serviceConfig = {
                            app: {
                                url: '/services/collection?cname=appstore',
                                key: 'appstore'
                            }
                        }
                    </script>
                    <%- include common/corridor.footersettings.ejs %>

    </div>
    <%- include common/app-overlay.ejs %>

</body>

</html>