<!doctype html>
<html class="no-js" lang="">

<head>
    <%- include common/head.ejs %>

    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/letsbuild/index.css" />
</head>

<body>

    <div class="loader-wrap" ng-class="{'loader-hide': true}">
        <div class="page-loader"></div>
    </div>
    <div class="wrapall">
        <section>
            <%- include common/header.ejs %>
        </section>
        <section class="header-flush">
            <div class="page-layout" ng-controller="appsController">
                <div class="pull-right dummy-search-wrap">
                    <label for="dummy-search-field"><span class="fa fa-search"></span></label>
                    <input id="dummy-search-field" class="search-field " type="text" name="search" ng-focus="searchpop()" placeholder="Search app">
                </div>
                <h1 class="md-display-1">Proposed Apps</h1>
                <div class="app-container">

                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="{{key}}" ng-repeat="(key,tab) in apps">
                                <md-content class="tiles-container">
                                    <div ng-if="!tab || tab.length ===0">
                                        <div class="margin-flush">
                                            <md-toolbar class="md-warn">
                                                <div class="md-toolbar-tools">
                                                    <h2 class="md-flex">You dont have any items under <strong>{{key}}</strong></h2>
                                                </div>
                                            </md-toolbar>
                                        </div>
                                    </div>
                                    <div class="tiles repeated-item" layout="row" layout-wrap>
                                        <div flex="30" flex-sm="100" class="tile-container" app-tile data-item="item" ng-repeat="item in tab | limitTo: limit[key]">
                                        </div>
                                    </div>
                                    <div class="loadmore" ng-if="tab.length > limit[key]">
                                        <md-button ng-click="$event.preventDefault();limit[key] = limit[key] + 6" class="md-raised md-primary">
                                            Loadmore
                                        </md-button>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>

                </div>
            </div>
        </section>
        <section>
            <%- include common/footer.ejs %>
        </section>
    </div>
    <div search-app></div>
    <script type="text/javascript">
        var serviceConfig = {
            app: {
                url: '/services/collection?cname=letsbuild&cond=' + JSON.stringify({
                    isPublish: true
                }),
                key: 'letsbuild'
            }
        }
        if (typeof GLOBAL === 'undefined') {
            var GLOBAL = {};
        }
        GLOBAL.featuredApps = [{
            "_id": "56022746b14391e21be35310"
        }, {
            "_id": "5603bcd04127193e156b435a"
        }];
    </script>
 

    <%- include common/footer.script.includes.ejs %>
    <%- include common/footer.script.markdown.includes.ejs %>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/controllers/apps-controller.js"></script>
    <script src="/javascripts/directives/app-tile-directive.js"></script>
    <script src="/javascripts/directives/search-app-directive.js"></script>
    <script src="/javascripts/modules/gallary.js"></script>






</body>

</html>