<!doctype html>
<html>

<head>
    <%- include common/head.ejs %>

    <link rel="stylesheet" href="<%= basePath %>stylesheets/letsbuild/index.css" />
</head>

<body >

    <div class="loader-wrap" ng-class="{'loader-hide': true}">
        <div class="page-loader"></div>
    </div>
    
    <div class="wrapall">
        <section>
            <%- include common/header.ejs %>
        </section>
        <section class="main-content header-flush">
            <div class="page-layout" ng-controller="appsController">
                <div layout="row"  layout-wrap layout-align="start center">
                    <div flex="70" flex-sm="100">
                        <h1 class="md-display-1">Proposed Apps</h1>
                    </div>
                    <div flex="30" flex-sm="100" class="filter-panel">
                        <div layout="row"  layout-align="center center">
                            <div flex="50">
                                <div class="sort-by" data-step="2" data-intro="Sort listed apps. <br> By default they are sorted by updated date.">
                                    <md-input-container>
                                        <label >Sort By</label>
                                        <md-select ng-model="sortBy">
                                          <md-option value="-lastUpdated">Updated Date</md-option>
                                          <md-option value="-createdAt">Created Date</md-option>
                                          <md-option value="-likes.length">Upvote Count</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div>
                                <div class="dummy-search-wrap">
                                    <span ng-click="searchpop()" class="fa fa-search"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="app-container" data-intro="Lists out all the published apps." data-position="top">
                    <!-- <md-content> -->
                        <!--  <md-tabs md-dynamic-height md-border-bottom> -->
                            <!-- <md-tab label="{{key}}" ng-repeat="(key,tab) in apps"> -->
                                <md-content class="tiles-container" ng-repeat="(key,tab) in apps" >
                                    <div ng-if="!tab || tab.length ===0">
                                        <div class="margin-flush">
                                            <md-toolbar class="md-warn">
                                                <div class="md-toolbar-tools">
                                                    <h2 class="md-flex">You don't have any items in <strong>{{key}}</strong></h2>
                                                </div>
                                            </md-toolbar>
                                        </div>
                                    </div>
                                    <div class="gridlayout grid-row" layout-wrap style="position:relative">
                                        <div class="grid grid-xs-12 grid-sm-6 grid-md-4" app-tile data-item="tab[0]" style="position:absolute;width:30%;left:2.5%;top:0;z-index:-1" data-step="3" data-intro="Click on the app to view details." data-position="top"></div>

                                        <div class="grid grid-xs-12 grid-sm-6 grid-md-4" app-tile data-item="item" data-get-effort-funded="getEffortFunded" ng-repeat="item in tab | orderBy:sortBy | limitTo: limit[key]">
                                        </div>
                                    </div>
                                    <div class="loadmore" ng-if="tab.length > limit[key]">
                                        <md-button ng-click="$event.preventDefault();limit[key] = limit[key] + 6" class="md-raised md-primary primary-button">
                                            Loadmore
                                        </md-button>
                                    </div>
                                </md-content>
                            <!-- </md-tab> -->
                       <!--  </md-tabs> -->
                    <!-- </md-content>  -->

                </div>
            </div>
        </section>
        <section>
            <%- include common/footer.ejs %>
        </section>
    </div>
    <div search-app data-mode="tile"></div>
    <script type="text/javascript">
        var serviceConfig = {
            app: {
                url: '<%= basePath %>services/publishedApps',
                keys: ['letsbuild']
            }
        }
        if (typeof GLOBAL === 'undefined') {
            var GLOBAL = {};
        }
        GLOBAL.featuredApps = [{
            "_id": "56022746b14391e21be35310"
        }, {
            "_id": "5603bcd04127193e156b435a"
        }];
    </script>
 

    <%- include common/footer.script.includes.ejs %>
    <%- include common/footer.script.markdown.includes.ejs %>
    
    <script src="<%= basePath %>javascripts/controllers/apps-controller.js"></script>
    <script src="<%= basePath %>javascripts/directives/app-tile-directive.js"></script>
    <script src="<%= basePath %>javascripts/directives/search-app-directive.js"></script>
    <script src="<%= basePath %>javascripts/modules/gallery.js"></script>

<style type="text/css">
    .introjs-fixParent {
        position: inherit !important;
    }
</style>
 <script type="text/javascript">
 if(!localStorage.getItem( 'gallery-visited')){
        localStorage.setItem( 'gallery-visited', true);
        setTimeout(function(){
            introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
                    window.location.href = 'gallery/id/'+ getFirstId +'?multipage=true';
                });
        }, 1000);

    }
</script>




</body>

</html>