<!doctype html>
<html>

<head>
    <%- include common/head.ejs %>
    <% if( typeof siteConfig === 'object' ) {%>
        <script>
            var SITECONFIG = <%- stringify( siteConfig ) %>    ; 
        </script>
    <%} %>
</head>

<body>
    <div class="wrapall">
        <section>
            <%- include common/header.ejs %>
        </section>
        <section class="main-content header-flush">
            <div class="page-layout" ng-controller="siteConfigController">
                <h1 class="md-display-1">
                  Site configurations
                </h1>
                
                <form name="updateConfigForm" class="update-config" ng-submit="updateConfig( $event )" novalidate ng-class="{'form-validate':updateConfigForm.$showValidation}">
                        <div  class="field-wrapper">
                            <md-chips required ng-model="config.admin" name="admin" placeholder="
                            + Admin"
                            secondary-placeholder="Add admin"></md-chips>
                        </div>
                        <md-input-container>
                            <label>Notification Email</label>
                            <input  required name="mail" ng-model="config.mailConfig.mail">
                        </md-input-container>
                        <md-input-container>
                            <label>Notification Email Password</label>
                            <input  required name="pass" ng-model="config.mailConfig.pass">
                        </md-input-container>

                        <md-button class="md-raised md-primary">Update</md-button>
                </form>

            </div>
        </section>
        <section>
            <%- include common/footer.ejs %>
        </section>
    </div>

    <%- include common/footer.script.includes.ejs %>
    
    <script type="text/javascript">
        
            angular.module( 'siteConfig', [ 'commonModule' ] )
            .controller( 'siteConfigController', [
                '$scope',
                'http',
                'Notification',
                function  (
                    $scope,
                    http,
                    Notification
                ) {
                    if( typeof SITECONFIG === 'undefined' ) {
                        $scope.config = {};    
                    } else {
                        $scope.config = SITECONFIG;
                    }
                    
                    $scope.updateConfig = function( e ) {
                        
                        e.preventDefault();
                        http.post( basePath + 'services/updateSiteConfig', {
                            postData: {
                                data: $scope.config 
                            }
                        } )
                        .then( function( res ) {
                            Notification.success( 'Configurations Updated Successfully' );
                        });
                    };
                } 
            ] )
            
            angular.bootstrap(document, ['siteConfig'])
            ;
        
    </script>

    <style type="text/css">
        
        .update-form {
            margin-bottom: 20px;
        }
        
        .field-wrapper {
            padding: 2px 2px 26px;
        }
        md-switch {
            margin-left: 0
        }
    </style>
</body>

</html>
