<head>
<style type="text/css">
    </style>
    <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
    <!--link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'-->

    <link rel="stylesheet" href="<%= basePath %>bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="<%= basePath %>bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= basePath %>stylesheets/index/grid-system.css" />
    <link rel="stylesheet" href="<%= basePath %>stylesheets/index/index.css" />
    <link rel="stylesheet" href="<%= basePath %>stylesheets/vendors/introjs.min.css" />

    <link rel="stylesheet" href="<%= basePath %>bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" />

    <title>
        <%= title %>
    </title>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
        
        ng\:form {
            display: block;
        }
        
        .ng-animate-shim {
            visibility: hidden;
        }
        
        .ng-anchor {
            position: absolute;
        }
    </style>
    

    <% if(user) {%>
        <script>
            var GLOBAL = {
                user: <%- stringify(user) %>
            };
        </script>
    <%} %>

    <% if(basePath) {%>
        <script>
            var basePath= '<%= basePath %>';
        </script>
    <%} else { %>
        <script>
            var basePath= './';
        </script>
    <% } %>
</head>